---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import getSortedEntries from "@/utils/getSortedEntries";
import { SITE } from "@/config";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("blog", ({ data }) => !data.draft);
  return paginate(getSortedEntries(posts), { pageSize: SITE.postPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title={`게시글 | ${SITE.title}`}>
  <Header />
  <Main
    pageTitle="게시글"
    pageDesc="글쓰기는 자기 자신을 이해하려는 시도이자, 타인과 연결되기 위한 다리다. — 나탈리 골드버그"
  >
    <ul>
      {page.data.map(data => <Card entry={data} />)}
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
