---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/Tag.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";

const collections = await Promise.all([
  getCollection("blog"),
  getCollection("projects"),
]);

const entires = collections.flat();
const tags = getUniqueTags(entires);
---

<Layout title={`태그 | ${SITE.title}`}>
  <Header />
  <Main pageTitle="태그" pageDesc="블로그에 사용된 태그를 확인할 수 있습니다.">
    <ul>
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
